.apps-list {
    display: flex;
    align-items: center;
    width: 330px;

    list-style: none;

    li {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    a {
        display: block;

        width: 148px;
        height: 42px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 560px) {
    .apps-list {
        display: flex;
        align-items: center;
        width: 150px;
    
        list-style: none;
    
        li {
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    
        a {
            display: block;
    
            width: 67px;
            height: 19px;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}