.btn {
    width: 327px;
    height: 86px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    color: #000;

    background-color: $second_color;
    border: none;
    border-radius: 10px;
    outline: 0;

    transition: .3s all;
    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: inset 0 0 15px 2px #000;
    }

    &:active {
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .btn {
        width: 190px;
        height: 50px;
        margin: 0 auto;

        font-size: 18px;
        line-height: 20px;

        border-radius: 7px;

        &:hover,
        &:focus {
            box-shadow: inset 0 0 10px 2px #000;
        }
    }
}

@media (max-width: 560px) {
    .btn {
        width: 157px;
        height: 38px;
        margin: 0 auto;

        font-size: 15px;
        line-height: 17px;

        border-radius: 5px;

        &:hover,
        &:focus {
            box-shadow: inset 0 0 7px 1px #000;
        }
    }
}