.clubs-list {
    display: flex;
    align-items: center;
    width: 250px;

    list-style: none;

    li {
        display: flex;
        align-items: center;
        width: 50px;
        height: 51px;

        &:not(:last-child) {
            margin-right: 24px;
        }   
    }
}

@media (max-width: 768px) {
    .clubs-list {
        display: flex;
        align-items: center;
        width: 150px;
    
        list-style: none;
    
        li {
            display: flex;
            align-items: center;
            width: 28px;
            height: 29px;
    
            &:not(:last-child) {
                margin-right: 10px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 560px) {
    .clubs-list {
        display: flex;
        align-items: center;
        width: 120px;
    
        list-style: none;
    
        li {
            display: flex;
            align-items: center;
            width: auto;
            height: 22px;
    
            &:not(:last-child) {
                margin-right: 10px;
            }

            img {
                width: 100%;
            }
        }
    }
}