.footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 25px 0;

    background-color: #0e0e0e;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 25px;
    }

    &__link {
        font-size: 23px;
        line-height: 27px;
        font-weight: 400;
        text-decoration: underline;
        color: $main_color;

        cursor: pointer;
    }
}

@media (max-width: 560px) {
    .footer {
        bottom: 0;
        left: 0;
        padding: 15px 0;
    
        background-color: #0e0e0e;
    
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 25px;
        }
    
        &__link {
            order: -1;

            display: flex;
            justify-content: center;
            flex-grow: 1;
            width: 100%;
            margin-bottom: 10px;

            font-size: 10px;
            line-height: 12px;
        }
    }
}