.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    width: 600px;
    height: 600px;
    padding: 33px 30px 37px 43px;

    font-family: 'Roboto','Arial', sans-serif;
    font-size: 23px;
    line-height: 29px;
    color: $main_color;

    background-color: #171717;

    transform: translate(-50%, -50%);
    overflow-x: hidden;
    overflow-y: scroll;

    &__content {
        width: 480px;
        
        &:not(:last-child) {
            margin-bottom: 65px;
        }
    }

    &__title {
        margin-bottom: 30px;

        font-family: 'DrukTextWide';
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    &-list {
        padding-left: 26px;
        list-style: none;

        &__mobile {
            display: none;
        }

        li {
            position: relative;

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &:before {
                content: "";

                position: absolute;
                top: 10px;
                left: -26px;

                width: 7px;
                height: 7px;

                background-color: $second_color;
                border-radius: 100%;
            }
        }
    }

    &__close {
        position: absolute;

        top: 43px;
        right: 20px;

        width: 19px;
        height: 19px;

        background-color: transparent;

        cursor: pointer;

        &:before,
        &:after {
            content: "";

            position: absolute;
            top: 50%;
            left: 50%;

            width: 3px;
            height: 27px;

            background-color: $main_color;
            border-radius: 20%;

            transform: translate(-50%, 50%);
            transition: .3s all;
            
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

@media (max-width: 768px) {
    .modal {
        width: 278px;
        height: 400px;
        padding: 35px 15px 25px 20px;
        font-size: 12px;
        line-height: 15px;
        color: $main_color;
        
        background-color: #171717;
    
        &__content {
            width: 220px;
            
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    
        &__title {
            margin-bottom: 15px;
    
            font-family: 'DrukTextWide';
            font-size: 15px;
            line-height: 15px;
            text-align: center;
        }
    
        &-list {
            padding-left: 18px;
            list-style: none;

            &__desktop {
                display: none;
            }

            &__mobile {
                display: block;
            }
    
            li {
                position: relative;
    
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
    
                &:before {
                    top: 10px;
                    left: -18px;
    
                    width: 5px;
                    height: 5px;
                }
            }
        }
    
        &__close {
            top: 12px;
            right: 12px;
    
            width: 14px;
            height: 14px;
    
            &:before,
            &:after {
                width: 2px;
                height: 18px;
                
            }
        }
    }
}

@media (max-width: 560px) {
    .modal {
        width: 278px;
        height: 400px;
        padding: 35px 15px 25px 20px;
        font-size: 12px;
        line-height: 15px;
        color: $main_color;
        
        background-color: #171717;
    
        &__content {
            width: 220px;
            
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    
        &__title {
            margin-bottom: 15px;
    
            font-family: 'DrukTextWide';
            font-size: 15px;
            line-height: 15px;
            text-align: center;
        }
    
        &-list {
            padding-left: 18px;
            list-style: none;

            &__desktop {
                display: none;
            }

            &__mobile {
                display: block;
            }
    
            li {
                position: relative;
    
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
    
                &:before {
                    top: 10px;
                    left: -18px;
    
                    width: 5px;
                    height: 5px;
                }
            }
        }
    
        &__close {
            top: 12px;
            right: 12px;
    
            width: 12px;
            height: 12px;
    
            &:before,
            &:after {
                width: 2px;
                height: 15px;
                
            }
        }
    }
}