.promo {
    position: relative;

    min-height: 100vh;

    background: url('../img/main_bg.jpg') 50%/cover no-repeat;

    &__logo {
        position: absolute;
        top: 66px;
        left: 120px;

        width: 180px;
        height: 60px;

        cursor: pointer;
    }

    &__wrapper {
        margin-left: 120px;
        padding-top: 180px;
    }

    &__text {
        position: relative;

        width: 530px;
        margin-bottom: 50px;

        &:before {
            content: "";
            position: absolute;
            top: -35px;
            left: 100%;

            width: 730px;
            height: 587px;

            background: url('../img/main_img.png') 50%/cover no-repeat;
        }
    }

    &__title {
        margin-bottom: 30px;
        color: $main_color;

        span {
            padding-right: 30px;

            font-family: 'Druk Wide', sans-serif;
            font-weight: 900;

            &:first-child {
                font-size: 115px;
                line-height: 150px;
                color: $second_color;
            }

            &:nth-child(2),
            &:nth-child(3) {
                font-family: 'DrukTextWide';
                font-weight: 900;
                color: $main_color;
            }

            &:nth-child(2) {
                font-size: 67px;
                line-height: 67px;
                
            }
            
            &:nth-child(3) {
                font-size: 47px;
                line-height: 47px;
            }
        }
    }

    &__subtitle  {
        margin-bottom: 27px;
        padding-right: 20px;

        font-size: 27px;
        line-height: 31px;
        color: $main_color;

        span {
            font-size: 22.5px;
            line-height: 26px;
        }
    }
}