::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 9px;
    height: 60px;
}
    
::-webkit-scrollbar-track {
    background-color:#2e2e2e;
    border: none;
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
    background-color: $main_color;
    outline: none;
    border-radius: 10px;
}

@media (max-width: 560px) {
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-button {
        background-image: url('');
        background-repeat: no-repeat;
        width: 5px;
        height: 50px;
    }
        
    ::-webkit-scrollbar-track {
        background-color:#2e2e2e;
        border: none;
        border-radius: 5px;
    }
        
    ::-webkit-scrollbar-thumb {
        background-color: $main_color;
        outline: none;
        border-radius: 5px;
    }
}