::-webkit-scrollbar {
    width: 29px;
}

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 9px;
    height: 100px;
}
    
::-webkit-scrollbar-track {
    background-color:#2e2e2e;
    border: none;
    border-radius: 5px;
    box-shadow: inset -20px 0 0 0 #171717;
}
    
::-webkit-scrollbar-thumb {
    background-color: $main_color;
    outline: none;
    border-radius: 1;
    box-shadow: inset -20px 0 0 0 #171717;
}